@{
    ViewData["Title"] = "Teste";
}

<div class="text-center">
    <h4>Meu nome é: @ViewData["Nome"]</h4>
    <h4>Meu número é: @ViewData["Numero"]</h4>
    <h4>Meu e-mail: @ViewData["Email"]</h4>
    <h4>A materia deste projeto é @ViewData["Materia"]</h4>
    <h4>Tenho essa materia @ViewData["AulaSem"]</h4>
    <h4>Estou no @ViewData["Bimestre"]</h4>
</div>