@{
    ViewData["Title"] = "Teste";
}

<div class="text-center">
    <h3>Meu nome é: @ViewData["Nome"]</h3>
    <h3>Meu número é: @ViewData["Numero"]</h3>
    <h3>Meu e-mail: @ViewData["Email"]</h3>
    <h3>A materia deste projeto é @ViewData["Materia"]</h3>
    <h3>Tenho essa materia @ViewData["AulaSem"]</h3>
    <h3>E @ViewData["Bimestre"]</h3>
</div>